<h1>Listing payments</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @payments.each do |payment| %>

  <tr>
    <% @customer = Customer.find(payment.customer.id) %>
    <td><%= @customer.first_name%></td>
    <td><%= @customer.last_name %></td>
  </tr>
  <tr>
    <th></th>
    <th></th>
    <th></th>
    <th>Date Payed</th>
    <th>Amount Charged</th>
    <th>Amount Received</th>
  </tr>
  <tr>
      <td><%= link_to image_tag('/images/icons/show.png'), payment, :class => 'button' %></td>
      <td><%= link_to image_tag('/images/icons/edit.png'), edit_payment_path(payment), :class => 'button'%></td>
      <td><%= link_to image_tag('/images/icons/delete.png'), payment, :method => :delete, :confirm => "Are you sure?",:class => 'button' %></td>
      <td><%= payment.date_payed %></td>
      <td><%= payment.amount_charged%></td>
      <td><%= payment.amount_received %></td>
  </tr>
<% end %>
</table>
<br />
<%= link_to 'New Payment', new_payment_path %>
<%= link_to 'Home', 'index'  %>                  
