<p id="notice"><%= notice %></p>
<table class='payment-info'>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Date Payed</th>
  </tr>
    <tr>
    <% @customer = Customer.find(@payment.customer.id) %>
    <td><%= @customer.first_name%></td>
    <td><%= @customer.last_name %></td>
    <td><%= @payment.date_payed %></td>
  </tr>

<%= link_to 'Edit', edit_payment_path(@payment) %> |
<%= link_to 'Back', payments_path %>
