<!DOCTYPE html>
<html>
<head>
  <title>SmallBooks</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
  <h1>Lawn Books</h1>
    <%= link_to "Login",'/login' %>
    <%= link_to "Logout",'/logout' %>
<%= yield %>

</body>
</html>
